
<!DOCTYPE html>
<html>
<body>

<% include templates/helpers.ejs %>
<div>
	<%= title2 %>
	<%-
	getPie({
		data: JSON.parse(pie.data),
		containerId: pie.id
	})
	%>

</div>

<div>
	<%= title3 %>
	<%-
	getGraph({
		data: JSON.parse(graph.data),
		xAxisLabel: graph.xAxisLabel,
		yAxisLabel: graph.yAxisLabel,
		containerId: graph.id
	})
	%>
</div>

</body>
<html>