
<!DOCTYPE html>
<html>
<body>

<script src="../../chartHelper.js"></script>

<div id = '<%= pie.id %>'>
	<%= pie.title %>
	<script>
	chartHelper.getPie({
		data: JSON.parse(pie.data),
		containerId: pie.id
	})
	</script>
</div>


<div id = '<%= graph.id %>'>
	<%= graph.title %>
	<script>
	chartHelper.getGraph({
		data: JSON.parse(graph.data),
		xAxisLabel: graph.xAxisLabel,
		yAxisLabel: graph.yAxisLabel,
		containerId: graph.id
	})
	</script>
</div>

</body>
<html>