<!--TABLE-->

<!DOCTYPE html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>


<div align="middle" class="container" width="60%">
  <h1 align="middle" id="table header"> <font face="Arial" size="2" color="black"><b>Table Title</b></font></h1>  
  <div class="bodycontainer scrollable"> 
  <table class="table table-striped header-fixed table-scrollable" id="table">

    <!-- assuming the same for all event logs -->
    <thead id="head">

      <script> 
        var tableData = <%- JSON.stringify(raw)%>;

        var element = document.getElementById("table header");
        element.innerHTML = tableData.title;
       
        var rawdata = tableData.data;
        // build table head
        var head = document.getElementById("head");
        var arr = Object.keys(rawdata[0]); // keys from table
        tr = document.createElement('tr');
        for (var j = 0; j < arr.length; j++) {
          th = document.createElement('th');
          th.appendChild(document.createTextNode(arr[j])); 
          tr.appendChild(th);
        }
        head.appendChild(tr);
        document.getElementById("table").appendChild(head);

      </script>
    
   </thead>

    <tbody id="body" style="overflow-y: auto">

      <script>
        // build table body 
        var body = document.getElementById("body");
        for (var i = 0; i < rawdata.length; i++) { // for each object
          tr = document.createElement('tr'); // for each key
          for (var j = 0; j < arr.length; j++) {
            td = document.createElement('td');
            td.appendChild(document.createTextNode(rawdata[i][arr[j]]));
            tr.appendChild(td);
          }
           body.appendChild(tr);
        }

        document.getElementById("table").appendChild(body);
                  
      </script>

    </tbody>
  </table>
  </div>
</div>

</body>

<style>
</style>
</html>

