@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

/*HEADER*/

h1 {
  text-align: center;
  font-family: Arial;
  font-size: 12px;
}

/*DIVS*/
div {
	margin-bottom: 50px;
	page-break-inside:avoid;
}


/*PIE*/

.content {height:100%}


.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

/*GRAPH*/

*{margin:20;padding:0}
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

/*TABLE*/
.container {
	text-align: middle; 
	width: 80%
}