<head>
    <link href="bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <style>
        .flot-chart {
            width: 350px;
            height: 200px;
        }
    </style>

    <script src="jquery/jquery.min.js"></script>
    <script src="flot/jquery.flot.js"></script>
    <script src="flot/jquery.flot.time.min.js"></script>
    <script src="flot/jquery.flot.axislabels.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div>
                <img src="images/css_logo.png" width="150">
            </div>
            <div>
                <h4>Logs:</h4>
                
                <p>CYCLE NAME: GRAVITY 3&lt;CR&gt;&lt;LF&gt;</p>
                
                <p>CYCLE NAME: GRAVITY 3&lt;CR&gt;&lt;LF&gt;</p>
                
                <p>CYCLE NAME: GRAVITY 3&lt;CR&gt;&lt;LF&gt;</p>
                
                <p>CYCLE NAME: GRAVITY 3&lt;CR&gt;&lt;LF&gt;</p>
                
                <p>CYCLE NAME: GRAVITY 3&lt;CR&gt;&lt;LF&gt;</p>
                
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7">
            <div>
                <h4>Graphs:</h4>
                
                <div id="plot0" class="flot-chart"></div>
                
                <div id="plot1" class="flot-chart"></div>
                
            </div>
            <div>
                <h4>Notes:</h4>
                
                <p>note 1</p>
                
                <p>note 2</p>
                
                <p>note 3</p>
                
            </div>
        </div>
    </div>



    <script>
        var options = {
            axisLabels: {
                show: true
            },
            xaxis: {
                mode     : "time",
                timezone : "browser"
            },
            xaxes: [{axisLabel: '24-hour clock time (hh:mm)'}]
        };
        
        options.yaxes = [{"axisLabel":"Temperature(°C)"}];
        $.plot("#plot0", [{"data":[[1459346339160,22.1],[1459346337155,22.1],[1459346335148,22.1],[1459346334140,21.9],[1459346330114,21]],"color":"#ff0000","paramId":"temperature","name":"Temperature","unit":"degC","preferredUnit":"degC","feedId":"716238430b15a46220d8d2a71819ce47a3d10756","yaxes":[{"axisLabel":"Temperature(°C)"}]}], options);
        
        options.yaxes = [{"axisLabel":"Pressure(psi)"}];
        $.plot("#plot1", [{"data":[[1459346339160,22.1],[1459346337155,22.1],[1459346335148,22.1],[1459346334140,21.9],[1459346330114,21]],"color":"#00ff00","paramId":"pressure","name":"Pressure","unit":"psi","preferredUnit":"psi","feedId":"716238430b15a46220d8d2a71819ce47a3d10756","yaxes":[{"axisLabel":"Pressure(psi)"}]}], options);
        
    </script>
</body>