<!--XY CHART-->

<!DOCTYPE html>

<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<head>
  <script language="javascript" type="text/javascript">
  </script>
  <p align="middle" id="xy header" style="font-family:arial; font-size:150%"><%- raw.title%></p>
</head>
<body>
<script src="d3/d3.min.js"></script>
<script>


var rawdata = <%- JSON.stringify(raw.data)%>;;
 if (rawdata.length < 3) {
  console.log("ERROR: Must lable axis.");
 }

 var xTitle = "<%- raw.xtitle%>";
 var yTitle = "<%- raw.ytitle%>";
 
 var xKey = Object.keys(rawdata[0])[0];
 var yKey = Object.keys(rawdata[0])[1];


var margin = {top: 20, right: 50, bottom: 50, left: 50},
    width = 800 - margin.left - margin.right,
    height = 450 - margin.top - margin.bottom;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .x(function(d) { return x(d[xKey]); })
    .y(function(d) { return y(d[yKey]); });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("display", "block")
    .attr("style", "margin: auto")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

x.domain(d3.extent(rawdata, function(d) { return d[xKey]; }));
y.domain(d3.extent(rawdata, function(d) { return d[yKey]; }));

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
      .append("text")
      .attr("dy", "3em")
      .attr("dx", "3em")
      .style("text-anchor", "end")
      .text(xTitle);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text(yTitle);

  svg.append("path")
      .datum(rawdata)
      .attr("class", "line")
      .attr("d", line);


</script>
