<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../demo/demo.css">
    </head>
    <body>
        <p>
            Letter or US Letter is a paper size commonly used as home
            or office stationery in Canada, the United States of
            America, and Mexico. It measures 8.5 by 11 inches (215.9
            mm x 279.4 mm). US Letter size paper is a standard defined
            by the American National Standards Institute (ANSI), in
            contrast to the A4 paper used in the rest of the world,
            which is defined by the International Organization for
            Standardization (specifically, in ISO 216).
        </p>
        <%= val %>
        <script src="../demo/demo.js"></script>
    </body>
</html>
